dist: bionic
language: generic

git:
  quiet: true

services:
- docker

addons:
  apt:
    packages:
    - python-pip

before_install:
- nohup docker pull python:2.7-slim >/dev/null 2>&1 </dev/null &
- nohup docker pull python:3.5-slim >/dev/null 2>&1 </dev/null &
- nohup docker pull python:3.6-slim >/dev/null 2>&1 </dev/null &
- nohup docker pull python:3.7-slim >/dev/null 2>&1 </dev/null &
- nohup docker pull quay.io/pypa/manylinux2010_x86_64 >/dev/null 2>&1 </dev/null &
- nohup docker pull ubuntu:16.04 >/dev/null 2>&1 </dev/null &
- if [[ $(uname) == "Darwin" ]]; then nvm install 8 ; fi
- |
  set -x -e ;
  if [[ $(uname) == "Darwin" ]]; then
    export PYVER=$(echo $TRAVIS_JOB_NAME | awk '{print $NF}') ;
    echo pyenv install --list ;
    pyenv install $PYVER ;
    pyenv global $PYVER ;
    export PATH=$(dirname $(pyenv which python)):$PATH ;
    echo $PATH ;
    python --version ;
    python -c "import site; print(site.getsitepackages())" ;
    python -m pip install --user -U twine delocate ;
    delocate-wheel --version ;
  else
    python -m pip install --user -U twine ;
  fi
- twine --version

cache:
  directories:
  - .cache/bazel

install:
- export BAZEL_CACHE=.cache/bazel
- |
  if [[ $(uname) == "Darwin" ]]; then
    bash -x -e tests/test_ignite/start_ignite.sh ;
    bash -x -e tests/test_kafka/kafka_test.sh start kafka ;
    bash -x -e tests/test_azure/start_azure.sh ;
    bash -x -e tests/test_dicom/dicom_samples.sh download ;
    bash -x -e tests/test_dicom/dicom_samples.sh extract ;
  fi

stages:
- build

jobs:
  include:
  - stage: build
    name: "Lint (Python+Bazel)"
    script: bash -x -e .travis/lint.sh

  - stage: build
    name: "Nightly Release Build on Linux"
    script:
    - bash -x -e .travis/python.release.sh --nightly ${TRAVIS_BUILD_NUMBER}
    after_success: bash -x -e .travis/after-success.sh

  - stage: build
    name: "Nightly Release Build on macOS 2.7.13"
    os: osx
    osx_image: xcode9
    script:
    - bash -x -e .travis/python.release.sh --nightly ${TRAVIS_BUILD_NUMBER}
    - bash -x -e .travis/wheel.test.sh
    after_success: bash -x -e .travis/after-success.sh

notifications:
- email: false
