name: Reviewdog

on:
  pull_request:
    branches:
      - master

permissions:
  contents: read

jobs:
  bazel:
    permissions:
      checks: write  # for reviewdog/action-suggester to report issues using checks
      contents: read  # for actions/checkout to fetch code
    name: Bazel Buildifier
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@1d96c772d19495a3b5c517cd2bc0cb401ea0529f # v4.1.3
      - run: |
          sudo python3 -m pip install -U numpy pip black pyupgrade
          bazel run -s --verbose_failures --experimental_repo_remote_exec //tools/lint:lint -- bazel
      - uses: reviewdog/action-suggester@3d7fde6859623ad6174df5fd662677a0eb63310a # v1.11.0
  black:
    permissions:
      checks: write  # for reviewdog/action-suggester to report issues using checks
      contents: read  # for actions/checkout to fetch code
    name: Python Black
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@1d96c772d19495a3b5c517cd2bc0cb401ea0529f # v4.1.3
      - run: |
          sudo python3 -m pip install -U numpy pip black pyupgrade
          bazel run -s --verbose_failures --experimental_repo_remote_exec //tools/lint:lint -- black
      - uses: reviewdog/action-suggester@3d7fde6859623ad6174df5fd662677a0eb63310a # v1.11.0
  clang:
    permissions:
      checks: write  # for reviewdog/action-suggester to report issues using checks
      contents: read  # for actions/checkout to fetch code
    name: Clang Format
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@1d96c772d19495a3b5c517cd2bc0cb401ea0529f # v4.1.3
      - run: |
          sudo python3 -m pip install -U numpy pip black pyupgrade
          bazel run -s --verbose_failures --experimental_repo_remote_exec //tools/lint:lint -- clang
      - uses: reviewdog/action-suggester@3d7fde6859623ad6174df5fd662677a0eb63310a # v1.11.0
  pyupgrade:
    permissions:
      checks: write  # for reviewdog/action-suggester to report issues using checks
      contents: read  # for actions/checkout to fetch code
    name: Python Pyupgrade
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@1d96c772d19495a3b5c517cd2bc0cb401ea0529f # v4.1.3
      - run: |
          sudo python3 -m pip install -U numpy pip black pyupgrade
          bazel run -s --verbose_failures --experimental_repo_remote_exec //tools/lint:lint -- pyupgrade
      - uses: reviewdog/action-suggester@3d7fde6859623ad6174df5fd662677a0eb63310a # v1.11.0
